{% extends "layout.html" %}
{% set active_page = "about" %}
{% block main %}

<p>Created so you can check your answers to the past CS50 puzzle day puzzles without having to see the answers.</p>
<p>Try the links below to see the staff's debrief from each year and the full, naked list of answers. Spoilers!</p>
<div class="list-group">
    <a href="https://medium.com/@cs50/this-was-cs50x-puzzle-day-2016-1b1519b77353" class="list-group-item" target="_blank">2016 Blog Post/Answers &#8599;</a>
    <a href="https://medium.com/@cs50/cs50x-puzzle-day-2017-around-the-world-4c2aa044d1f7" class="list-group-item" target="_blank">2017 Blog Post/Answers &#8599;</a>
    <a href="https://medium.com/@cs50/this-was-cs50x-puzzle-day-2018-22d95a48615" class="list-group-item" target="_blank">2018 Blog Post/Answers &#8599;</a>
    <a href="https://medium.com/@cs50/this-was-cs50x-puzzle-day-2019-c98112adb467" class="list-group-item" target="_blank">2019 Blog Post/Answers &#8599;</a>
  </div> 

{% endblock main %}
