{% extends "layout.html" %}

{% block main %}

<form id="form" action='/form' method='post' onsubmit="return validateForm()">
    <div class="form-group">
        <label for="year">Select a year</label>
        <select class="form-control required" id="year" name="year" onchange="question(this.value);">
          <option selected disabled value="">--Years 2016-2019 supported--</option>
          <option value="2016">2016</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
        </select>
    </div>
    <div id="questionsDiv" class="form-group">
        <!-- Questions form goes here via AJAX-->
    </div>
    <div id="answerDiv" class="form-group" style="display: none;">
        <label for="answer">Enter your answer</label>
        <input type="text" class="form-control required" id="answer" name="answer">
    </div>
    <button class="btn btn-primary" type="submit" id="submit" style="display: none;">Check solution</button>
</form>

<script>

// This function receives the year input by the user and reveals the form category for 
// question choice, answer input and submit button.
function question(year)
{
    // Deal with situation where nothing is chosen
    if (year == "")
        return;
    // create AJAX object
    var ajax = new XMLHttpRequest();
    // callback function to pre-fill div once page is loaded
    ajax.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            document.getElementById("questionsDiv").innerHTML = this.responseText;
        }
    }
    // Open file and transmit data
    ajax.open("GET", year, true);
    ajax.send();

    // Also reveal answer and submit button
    answerDiv = document.getElementById("answerDiv");
    answerDiv.style.display = "block";
    subbut = document.querySelector('#submit');
    submit.style.display = "block";
}


// Implement client-side form validation with javaScript
form.addEventListener("submit", function(event) {
    event.preventDefault();
});

subbut.onclick = function() {
    let chooseYear = document.querySelector('#year');
    let chooseQuestion = document.querySelector('#choosequestion');
    let chooseAnswer = document.querySelector('#answer');
    if (!chooseYear.value)
    {
        alert("Please provide a year");
        return false;
    }
    else if (!questioninput.value)
    {
        alert("Please provide a Question");
        return false;
    }
    else if (!chooseAnswer.value)
    {
        alert("Please provide an Answer");
        return false;
    }
    else
    {
        form.submit();
    }
};

</script>

{% endblock main %}