{% extends "layout.html" %}
{% set active_page = "puzzlepacks" %}
{% block main %}

<p>Below you can find the puzzle packs for download. Have fun!</p>
<div class="list-group">
    <a href="https://cdn.cs50.net/2016/x/events/puzzles/packet.pdf" class="list-group-item" target="_blank">2016 Puzzle Packet &#8599;</a>
    <a href="https://cdn.cs50.net/2017/x/events/puzzles/packet.pdf" class="list-group-item" target="_blank">2017 Puzzle Packet &#8599;</a>
    <a href="https://cdn.cs50.net/2018/x/events/puzzles/2018_puzzle_packet.pdf" class="list-group-item" target="_blank">2018 Puzzle Packet &#8599;</a>
    <a href="https://cdn.cs50.net/2019/x/events/puzzles/puzzles.pdf" class="list-group-item" target="_blank">2019 Puzzle Packet &#8599;</a>
  </div> 

{% endblock main %}
