{% extends "layout.html" %}
{% set active_page = "puzzlepacks" %}
{% block main %}

<div class="list-group">
    <a href="https://cdn.cs50.net/2016/x/events/puzzles/packet.pdf" class="list-group-item">2016 Puzzle Packet &#8599;</a>
    <a href="https://cdn.cs50.net/2017/x/events/puzzles/packet.pdf" class="list-group-item">2017 Puzzle Packet &#8599;</a>
    <a href="https://cdn.cs50.net/2018/x/events/puzzles/2018_puzzle_packet.pdf" class="list-group-item">2018 Puzzle Packet &#8599;</a>
    <a href="https://cdn.cs50.net/2019/x/events/puzzles/puzzles.pdf" class="list-group-item">2019 Puzzle Packet &#8599;</a>
  </div> 

{% endblock main %}
